{% set _intfs = _nno.get('mac_vlan', [
  {'master_interface': 'ens201f0np0'},
  {'master_interface': 'ens202f0np0'},
  {'master_interface': 'ens203f0np0'},
  {'master_interface': 'ens204f0np0'},
  {'master_interface': 'ens205f0np0'},
  {'master_interface': 'ens206f0np0'},
  {'master_interface': 'ens207f0np0'},
  {'master_interface': 'ens208f0np0'}
]) %}
{% set _nai = nvidia_ai_enterprise %}
---
apiVersion: mellanox.com/v1alpha1
kind: NicClusterPolicy
metadata:
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
    argocd.argoproj.io/sync-wave: "10" # Ensures this is applied AFTER the operator is ready
  name: nic-cluster-policy
spec:
  docaTelemetryService:
    image: doca_telemetry
    repository: nvcr.io/nvidia/doca
    version: {{ _nai.infrastructure_software["DOCA Telemetry Service"] | default("1.25.5-doca3.4.0-host") }}
  ofedDriver:
    env:
      - name: CREATE_IFNAMES_UDEV
        value: "true"
      # - name: ENTRYPOINT_DEBUG
      #   value: 'true'
      - name: RESTORE_DRIVER_ON_POD_TERMINATION
        value: 'true'
      - name: UNLOAD_STORAGE_MODULES
        value: 'true'
    image: doca-driver
    repository: nvcr.io/nvidia/mellanox
    version: {{ _nai.infrastructure_software["DOCA OFED Driver Container"] | default("doca3.4.0-26.04-0.8.6.0-0") }}
    startupProbe:
      initialDelaySeconds: 10
      periodSeconds: 20
    livenessProbe:
      initialDelaySeconds: 30
      periodSeconds: 30
    readinessProbe:
      initialDelaySeconds: 10
      periodSeconds: 30
    upgradePolicy:
      autoUpgrade: true
      drain:
        deleteEmptyDir: true
        enable: true
        force: true
        podSelector: ''
        timeoutSeconds: 300
      maxParallelUpgrades: 1
      safeLoad: false
  rdmaSharedDevicePlugin:
    config: |
      {
        "configList": [
          {
            "resourceName": "rdmashared",
            "rdmaHcaMax": 1000,
            "selectors": {
              "ifNames": [
{% for intf in _intfs %}
                "{{ intf.master_interface }}"{{ "," if not loop.last else "" }}
{% endfor %}
              ]
            }
          }
        ]
      }
    image: k8s-rdma-shared-dev-plugin
    repository: nvcr.io/nvidia/mellanox
    version: network-operator-v{{ _nai.infrastructure_software["NVIDIA Network Operator"] | default("26.4.0") }}
