{% set _ngo = openshift.operators.nvidia_gpu_operator | default({}) %}
{% set _nai = nvidia_ai_enterprise %}
---
enableRdma: {{ _ngo.enable_rdma | default(false) }}
nvidiaGpuVersion: 'gpu-operator-certified.v{{ _nai.infrastructure_software["NVIDIA GPU Operator"] | default("26.3.3") }}'
nvidiaGpuDriverVersion: {{ _nai.infrastructure_software["NVIDIA Data Center GPU Driver"] | default("595.71.05") }}
