{% set _gpu_versions = {
  '25.10': {'driver': 'doca3.2.0-25.10-1.2.8.0-2', 'telemetry': '1.23.4-doca3.2.0-host'},
  '26.1': {'driver': 'doca3.3.0-26.01-1.0.0.0-0', 'telemetry': '1.23.4-doca3.2.0-host'},
  '26.4': {'driver': 'doca3.4.0-26.04-0.8.6.0-0', 'telemetry': '1.25.5-doca3.4.0-host'},
  '26.7': {'driver': 'doca3.4.0-26.04-0.8.6.0-0', 'telemetry': '1.25.5-doca3.4.0-host'}
} %}
{% set _nno = openshift.operators.nvidia_network_operator | default({}) %}
