---
{% set ldap = openshift.ldap %}
kind: LDAPSyncConfig
apiVersion: v1
url: {{ ldap.url }}
bindDN: {{ ldap.bind_dn }}
bindPassword: {{ ldap_bind_password }}
{% if ldap.secure_ldap %}
insecure: false
ca: /ldap-sync/ca.crt
{% else %}
insecure: true
{% endif %}
groupUIDNameMapping:
{% for k,v in ldap.group_uid_mappings.items() %}
  "{{ k }}": {{ v }}
{% endfor %}
augmentedActiveDirectory:
    groupUIDAttribute: dn
    groupNameAttributes: [ cn ]
    groupMembershipAttributes: [ "memberOf" ]
    groupsQuery:
        baseDN: {{ ldap.base_dn_groups | default(ldap.base_dn) }}
        derefAliases: never
        pageSize: 500
        scope: sub
        timeout: 120
    userNameAttributes: [ sAMAccountName ]
    usersQuery:
        baseDN: {{ ldap.base_dn_users | default(ldap.base_dn) }}
        derefAliases: never
        filter: "(&(objectCategory=person)(objectClass=user))"
        pageSize: 500
        scope: sub
        timeout: 120
