apiVersion: v1
kind: ConfigMap
metadata:
  name: cisco-exporter-config
  namespace: cisco-exporter
data:
  config.yml: |
    debug: false
    legacy_ciphers: false
    # default values
    timeout: 5
    batch_size: 10000
    devices:
{% set _device_list = splunk_observability.nexus.device_list | default([]) %}
{% set _nexus = splunk_observability.nexus | default({}) %}
{% for nexus in _device_list %}
      - host: {{ nexus }}
        username: {{ _nexus.username | default('admin') }}
        password: {{ nexus_device_password }}
{% endfor %}
    features:
      bgp: {{ (_nexus.features | default({})).get('bgp', false) }}
      environment: {{ (_nexus.features | default({})).get('environment', false) }}
      facts: {{ (_nexus.features | default({})).get('facts', false) }}
      interfaces: {{ (_nexus.features | default({})).get('interfaces', true) }}
      optics: {{ (_nexus.features | default({})).get('optics', true) }}
